{% extends "base.html" %}
{% load static %}


{% block content %}





<div class="card close-up" style="width: 28rem; height:600px;">
  <a  href="{{ item.image.url}}" target="_blank">
    <img class=" img-image-close "src="{{item.image.url}}" alt="{{item.name}}">
</a>
  <div class="card-body close-text">
    <h5 class="card-title"><strong>{{item.name}}</strong></h5>
    <p class="card-text">{{item.description}}</p>
    <p class="card-text"><small >{{item.price}}</small></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">first</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">BUY</a>
  </div>
</div>












{% endblock %}