{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="card close-up " style="width: 23rem; height:440px; ">
  <a href="{{ item.image.url}}" target="_blank">
    <img class=" img-image-close " src="{{item.image.url}}" alt="{{item.name}}" style="width: 23rem; height:190px;">
  </a>
  <div class="card-body close-text">
    <h5 class="card-title"><strong>{{item.name}}</strong></h5>
    <p class="mobile-text card-text">{{item.description}}</p>
    <p class="card-text mobile-text"><small>Price: {{item.price}}$</small></p>
  </div>
  <ul class="list-group list-group-flush rounded">
    <li class="list-group-item mobile-close">
      <form class="form" action="{% url 'add_item_to_bag' item.id %}" method="POST">
        {% csrf_token %}


        <div class="col">
          <p class="mobile-text"><strong>Amount:</strong></p>
          <div class="col">
            <input class="form-control amount_input" type="number" name="amount" value="1" min="1" max="20"
              data_item_id={{item.id}} id="id_qty_{{ item.id}}">
            <p class="mobile-text"><strong>If you want to add an engraved name, you can add it here. If not you can leave it
                blank.</strong></p>
            <input class="form-control text_input" type="text" name="engraved_name" id='id_engraved_name'
              data_item_id={{item.name}} id="id_qty_{{ item.name}}">


          </div>
        </div>
        <div>
          <a href="{% url 'items' %}" class=" btn-mobile btn btn-primary hvr-sweep-to-bottom">
            <span><strong>Keep shopping</strong></span>
          </a>
          <input class="btn btn-success btn-mobile hvr-sweep-to-bottom" type="submit"  value="Add item to Bag">
        </div>
        <div>
          <input type="hidden" name="redirect_url" value="{{ request.path}}">
        </div>
      </form>
    </li>

  </ul>
  
</div>
{% block postloadjs %}
{{ block.super }}
{% endblock %}


{% endblock %}