{% extends "base.html" %}
{% load static %}


{% block content %}

  
 
    
        {% if bag_items %}
          {% for item in bag_items %}
          <div class="card card close-up" style=" display:flexbox; width: 11rem; height:200px;">
            <img class="img-fluid rounded" src="{{item.item.image.url}}" alt="{{item.item.name}}">
            
            <ul class="list-group list-group-flush">
              
                
              <li class="list-group-item">Amount: {{item.amount}}</li>
              <li class="list-group-item">{{item.item.name}}</li>
              <li class="list-group-item">{{item.engraved_name}}</li>
              <li class="list-group-item">{{item.item.sku|upper}}</li>
              
              <li class="list-group-item">{{item.item.price}}</li>
              <li class="list-group-item"><a href="#" class="card-link">Card link</a></li>
            </ul>
          </div>
        
          
        
            {% endfor %}
            <div class="card cash">
              <div class="card-body">
                <p>Your total is ${{ sum_total|floatformat:2 }} including shipping!</p>
              </div>
              <a href="{% url 'items' %}" class="btn btn-primary">Keep shopping</a>
              <li class="list-group-item"></li>
            
              
              <a href="#" class="btn btn-primary">Secure Checkout</a>
              <li class="list-group-item"></li>
            
          </div>
        {% else %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><strong> Your bag is empty</strong></h5>
            
       
            <a href="{% url 'items' %}" class="card-link"><span>Keep shopping</span> <i class="fas fa-arrow-right"></i></a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
       
       
        {% endif %}
      

  

{% endblock %}