{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="card mobile-style" style="width: 18rem;">
  <img src="https://res.cloudinary.com/dokp7kv2b/image/upload/v1665432917/media/barbecue-skewers_ngo5fr.jpg" class="card-img-top" alt="barbecue skewers">
  <div class="card_colour card-body">
    <h5 class="text-dark card-title">Welcome!</h5>
    <p class="text-dark card-text text-mobile">Welcome to laserwood productions. Please check out our store!</p>
    <a href="{% url 'items' %}" class="btn btn-primary hvr-sweep-to-bottom">Browse Products</a>
  </div>
</div>

    <!-- Begin Mailchimp Signup Form -->

    <div id="mc_embed_signup">
      <form
          action="https://herokuapp.us17.list-manage.com/subscribe/post?u=08fb6f3846b81ecaf8d6169c4&amp;id=325f72cd20&amp;f_id=00df4fe0f0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
              <h2>Subscribe To Our Newsletter!</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                  </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                  <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
              </div>
              <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                      name="b_08fb6f3846b81ecaf8d6169c4_325f72cd20" tabindex="-1" value=""></div>
              <div class="optionalParent">
                  <div class="clear foot">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                          class="button">

                  </div>
              </div>
          </div>
      </form>
  </div>


{% endblock %}