{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="card mobile-style" style="width: 18rem;">
  <img src="media/laser_header.jpg" class="card-img-top" alt="header-image">
  <div class="card_colour card-body">
    <h5 class="text-dark card-title">Welcome!</h5>
    <p class="text-dark card-text text-mobile">Welcome to laserwood productions. Please check out our store!</p>
    <a href="{% url 'items' %}" class="btn btn-primary hvr-sweep-to-bottom">Browse Products</a>
  </div>
</div>


{% endblock %}