{% extends "base.html" %}
{% load static %}


{% block content %}

{% for item in bag_items %}

<div class="card card close-up" style=" display:flexbox; ">
    {% if item.image %}
    <img class="img-fluid rounded" src="{{item.item.image.url}}" alt="{{item.item.name}}">
    {% else%}
    <img class="img-fluid rounded"
        src="https://res.cloudinary.com/dokp7kv2b/image/upload/v1665433332/laser_main_ld3azo.jpg" alt="outside bonfire">
    {% endif %}
    <ul class="list-group list-group-flush ">
        <li class="list-group-item">
            <strong>
                <h7>Amount:</h7>
            </strong>
        </li>
        <li class="list-group-item ">{{item.item.name}}</li>
        <li class="list-group-item">Your engraved name:</li>
        <li class="list-group-item"> {{item.engraved_name}}</li>
        <li class="list-group-item">sku:{{item.item.sku|upper}}</li>
        <li class="list-group-item">Price: {{item.item.price}} $</li>
    </ul>
</div>

{% endfor %}

<div class="card cash">
    <div class="card-body">
        <p class="stylecheck">Your total is ${{ sum_total|floatformat:2 }}!</p>
        <p class="stylecheck"> Delivery cost: ${{delivery|floatformat:2}}</p>
    </div>
    <a href="{% url 'items' %}" class="btn btn-primary">Keep shopping</a>
    <li class="list-group-item"></li>
</div>

<div class=" card card-form col-12 col-md-6">
    <h2 class="checkout-title">Checkout</h2>
    <p class="text-checkout">Please fill out the form below to complete your order</p>
    <!-- credited: Form inspired from code institute, from the boutique Ado -->
    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
        {% csrf_token %}
        <fieldset class="rounded px-3 mb-5">
            <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
            {{ ordering_form.full_name | as_crispy_field }}
            {{ ordering_form.email | as_crispy_field }}
        </fieldset>
        <fieldset class="rounded px-3 mb-5">
            <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
            {{ ordering_form.mobile_number | as_crispy_field }}
            {{ ordering_form.zip_code | as_crispy_field }}
            {{ ordering_form.city | as_crispy_field }}
            {{ ordering_form.street_address | as_crispy_field }}
            {{ ordering_form.country | as_crispy_field }}

            <div class="form-check form-check-inline float-right mr-0">
                {% if user.is_authenticated %}
                <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                {% else %}
                <label class="form-check-label" for="id-save-info">
                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                </label>
                {% endif %}
            </div>
        </fieldset>
        <fieldset class="">
            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
            <!-- A Stripe card element will go here -->
            <div class="" id="card-element"></div>

            <!-- Used to display form errors -->
            <div class=" text-danger" id="card-errors" role="alert"></div>
            <!-- Pass the client secret to the view so we can get the payment intent id -->
            <input type="hidden" value="{{ client_secret }}" name="client_secret">
        </fieldset>

        <div class="submit-button text-right ">
            <a href="{% url 'show_bag' %}" class=" update-mobile btn btn-info hvr-sweep-to-bottom ">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="font-weight-bold">Adjust Bag</span>
            </a>
            <button id="submit-button" class=" update-mobile btn btn-primary hvr-sweep-to-bottom">
                <span class="font-weight-bold ">Complete Order</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </button>
            <p class="small text-danger my-0">
                <span class="icon">
                    <i class="fas fa-exclamation-circle"></i>
                </span>
                <span>Your card will be charged <strong>${{ sum_total|floatformat:2 }}</strong></span>
            </p>
        </div>
    </form>

    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
    {% endblock %}

    {% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    {% endblock %}