{% extends "base.html" %}
{% load static %}


{% block content %}

  
 
    

        <div class=" card card-form col-12 col-md-6">
            <h2 class="checkout-title">Thank you!</h2>
            <hr>
            <p class="text-checkout">Here is your orderinformation. A confirmation
                will be sendt to <strong>{{ordering.email}}</strong>
            </p>
        </div>

        <div class="card cash">
            <div class="card-body">
                <a href="{% url 'items' %}" class="btn btn-primary">Shop more</a>
                <li class="list-group-item"></li>
            </div>
            
        </div>
            
{% endblock %}


        
          

        
          