/* borrowed some of this * code from Love Running project */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Lato', serif ;
    font-weight: 700;
    background: url('/media/laser_main.jpg')no-repeat center center;
    background-size: cover;
    
    height: 750px;
}


header {
    
    height: 170px;
   
    background-color:#faedcd
}

.header_image {
    background: url('/media/laser_header.jpg')no-repeat center center;
    background-size: 50%;
    width: 100%;
    height: 100px;
    border-radius: 25px;
    
}
.logo-text {
    width:50%;
    font-size: 68px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ab7e52;
    text-shadow: 4px 4px 4px rgb(108, 106, 106);
    float: right; 
    text-align: end;
    
}
.logo {
    width: 95%;
    left: auto;
    
    
}
.test {
    width: 100%;
}

.card-size {
    height: 200px;
    width: auto;
}




.img-image {
    height: 350px;
    width: 345px;
    border-radius: 25px;
    padding-left: 8px;
    margin-top: 20px;
}

.detail-card {
    margin-top: 10px;
    width: 50%;
    left: 100px;
}
.search {
    width: 50%;
    
    
}
.search-form {
    width: 80%;
}
.search-btn {
    background-color: #26b0e6;
    width: 80%;
    }

.nav_style {
    
    width: 100%;
    float: right;
  
}




.remove-decoration {
    text-decoration: none;
}

.bag-style {
    float: right;
      
}


.bag-place {
    
    
    font-size: large;
    background-color: white;
    width: 40%;
    float: right;
}

.btn-mobile {
    margin-top: 6px;
    left: 40px;
}

.update-mobile {
    margin-top: 6px;
    left: 15px;
    
}

.remove-mobile {
    padding: none;
    left: 18px;

}




.message-container {
    position: fixed;
    top: 190px;
    right: 250px;
    z-index: 99999999999;
}



.same-nav {
    margin-top: 5px;
    width: 11%;
    float: left;
    letter-spacing: 2px;
    font-size: large;
    text-align: center;
    list-style-type: none;
    right: 5px;
    
}
.testtest {
    float: right;
}
.same {
    float: right;
    letter-spacing: 3px;
    font-size: large;
    text-align: center;
    list-style-type: none;
    
}
.nav-drop {
    width: 14%;
    left: 1px;
}
.nav-colour{
    color: white;
    font-size: medium;
    display:grid;
}


.nav-home-colour {
    background-color: cadetblue;
    padding: 5px 5px 9px 5px;
    color: white;
    
}
.nav-blog-colour {
    background-color: blueviolet;
    padding: 5px 5px 9px 5px;
}
.nav-product-colour {
    background-color: #e9c46a;
    padding: 5px 5px 9px 5px;
}
.nav-profile-colour {
    background-color: coral;
}


.card {
    float: right;
    background-color: #faedcd;
    right: 130px;
    top: 15px;
    opacity: 90%;
    border-radius: 25px;
    
}
.card_colour {
    background-color: #faedcd;
    border-radius: 25px;

}
.card-img-top {
    border-radius: 25px;
}

.card-form {
    right: 750px;
    width: 500px;
    height: 750px;
}

.card-finish {
    right: 750px;
    width: 500px;
    height: 840px;
    text-align: center;
    
    
}
.list-group-item {
    padding: .3rem 1rem;;
    display: table-column;
}

strong {
    font-weight:900;
    
    
  }

.checkout-title {
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;

}

.text-checkout {
    text-align: center;
}





footer {
    
    height: 30px;
    width: 100%;
    background-color:#faedcd
   
}

.img-image-close {
    height: 210px;
    width: 100%;
    border-radius: 25px;
    
    
}
.close-up {
    width: min-content;
    height: min-content;
    right: 648px;
    margin-bottom: 100px;
    
}
.close-text {
    flex: none;

}

.cash {
    position: fixed;
    right: 20px;
    top: 200px;
}
.mobile-close {
    bottom: 40px;
    
}

/* stripe css checkout */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}



@media screen and (max-width:878px) {
    header {
        position: inherite;
        
    }

    .card {
        position: inherit;
        right: 50px;
    }

    .card-form {
        right: 180px;
        width: 300px;
        
    }


    .logo-text {
        position: inherit;
        width:40%;
        font-size: 48px;
       
        text-align:justify;
        
    }
    .logo {
        position: inherit;
        width: 100%;
    
    }
   
       
    .nav-colour{
        position: inherit;
        display:grid;
        
        
        
        font-size:small;
    }
    .same {
        position: inherit;
        width: 40%;
    }
    .search-form {
        position: inherite;
        
        margin-top: 10px;
    }
    .search-btn {
        position: inherite;
        
        
        }
 
}
@media screen and (max-width:649px) {
   
    
    .logo-text {
        position: inherit;
        width:40%;
        font-size: 48px;
        height: max-content;
       
        text-align:end;
        
        margin-right: 100px;
        margin-top: 75px;
        
    }
    .test {
        position: inherit;
        width: 100%;
    }
    .logo {
        position: inherit;
        display: block;
        width: 100%;
    
    }
    .testtest {
        width: 140%;
        
        margin-left: 3px;
        margin-right: 3px;
    }
    .same {
        position: inherit;
        width: 50%;
    }
    .search-form {
        position: relative;
        
        bottom: 60px;
        
        
    }
    .search {
        position: inherite;
        width: 40%;
    }
    .search-btn {
        position: relative;
        
        bottom: 60px;
       }
    .nav-drop {
        width: 30%;
        left: 1px;
        }
      
    .card {
        position: relative;
            
            
        right: 220px;
        top: 40px;
           
        }

    .card-form {
            right: 180px;
            width: 200px;
            
        }
    .card_colour {
        background-color: #faedcd;
        border-radius: 25px;
        font-size: x-small;
        }
    .card-img-top {
            border-radius: 25px;
        }

}
@media screen and (max-width:360px) {
    body {
        height: 1300px
    }
    header {
        
        height: 190px;
    }
  
    .logo-text {
        position: inherit;
        width:10%;
        font-size: 28px;
        height: max-content;
       
        text-align:end;
        
        margin-right: 129px;
        margin-top: 75px;
        
    }

    .card {
        position: relative;
        width: min-content;
        height: min-content;
        
        
        right: 15px;
        top: 40px;
    }
    .card-form {
        right: 100px;
        width: max-content;
        height: max-content;
        margin-bottom: 30px;
        left: 17px;
        
    }
    .card-finish {
        
        margin-bottom: 30px;
        left: 0px;
    }

  
    
    .stylecheck{
        width: max-content;
    }
        
        
    
    .cash {
        flex-direction: unset;
        right: 50px;
        margin-bottom: 50px;
    }
   
    .search {
        position: inherite;
        width: 40%;
    }
    .search-form {
        width: 130%;
    }
    .search-btn {
        width: auto;
    }
    .testtest {
        width: 140%;
        
        margin-left: 2px;
        margin-right: 3px;
    }
    footer {
        position: inherite;
        height: 40px;
    }
    .list-group-item {
        position: inherit;
        padding: 4px;
        
        height: min-content;
    }
    .img-fluid {
        width: min-content;
        height: min-content;
        
    }
    .close-up {
        position: inherit;
        width: min-content;
        height: min-content;
        
    }
    .bag-place {
        position: inherit;
        width: 50%;
    }
    .mobile-text {
        margin-left: 20px;
        text-align: center;
    }
    .form-control {
        text-align: center;
    }

    .message-container {
        position: inherit;
        right: 130px;
        
    }

    
  
  
   


}
