{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description"
        content="Laserwood produce high quality wood products were you can get your preferred names engraved">
    <meta name="keywords" content="wood products, engrave, hammer, barbeque sticks, knife, blog, camping, wood, quality, names,
    products, outdoors, bonfire, barbeque, outdoor activity">

    {% block maincss%}
    <link href="//cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">


    {% endblock %}

    {% block extra_css%}
    {% endblock %}

    {% block mainjs %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://kit.fontawesome.com/4a24757097.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Mailchimp-->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>



    {% endblock %}

    {% block extra_js%}
    {% endblock %}

    <title>Laserwood shop {% block extra_title %} {% endblock %}</title>

</head>

<body>
    <header>
        <div class="container media-mobile ">
            <div class="row test">

                <div class="col-4-md-auto logo">
                    <h1 class="logo-text">laserwood</h1>
                </div>


                <div class="col-4-md-auto search">

                    <form method="GET" action="{% url 'items' %}">
                        {% csrf_token %}
                        <div class=" w-100">
                            <input class="search-style  search-form form-control border border-black rounded-0"
                                type="text" name="s" placeholder="Search in our store">
                            <div class="input-group-append">
                                <button
                                    class="search-btn form-control hvr-sweep-to-bottom btn btn-black border border-black rounded-0"
                                    type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-6 col-4-md-auto">
                    <ul>
                        <li class=" col list-inline-item nav-colour">
                            <a class="{% if sum_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                                href="{% url 'show_bag' %}">
                                <div class=" text-center">
                                    <!-- Credit: code institute, project boutique Ado -->
                                    <div class="bag-place"><i class="fas fa-shopping-basket"></i></div>
                                    <p class=" bag-place my-0">
                                        {% if sum_total %}
                                        ${{ sum_total|floatformat:2 }}
                                        {% else %}
                                        $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class=" row nav-look fixed-top">
                <ul>

                    <li
                        class="col-6 col-4-md-auto hvr-sweep-to-bottom border same-nav list-inline-item nav-product-colour">
                        <a class="  nav-colour navfix remove-decoration" href="{% url 'items' %}">Items <i
                                class="fas fa-arrow-right"></i></a></li>
                    <li
                        class="col-6 col-4-md-auto hvr-sweep-to-bottom border same-nav list-inline-item nav-blog-colour">
                        <a class="nav-colour remove-decoration" href="{% url 'blog' %}"> Blog <i
                                class="fas fa-book-open"></i></a></li>
                    <li
                        class="col-6 col-4-md-auto border hvr-sweep-to-bottom same-nav list-inline-item nav-home-colour">
                        <a class="nav-colour remove-decoration" href="{% url 'home' %}"> Home <i
                                class="fas fa-home"></i></a></li>
                    <li
                        class=" border nav-profile-colour hvr-sweep-to-bottom list-inline-item nav-drop same-nav col-6col-4-md-auto  nav-item dropdown">
                        <a class=" remove-decoration nav-colour nav-colour dropdown-toggle" href="#"
                            id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            My Account<i class="fas fa-user"></i>
                        </a>
                        <ul class=" col-6 col-4-md-auto dropdown-menu" aria-labelledby="navbarScrollingDropdown">

                            {% if request.user.is_authenticated %}
                            <li><a class="col-6 col-4-md-auto same hvr-sweep-to-bottom dropdown-item list-inline-item nav-profile-colour"
                                    href="{% url 'profile' %}"> My Profile <i class="fas fa-user"></i></a></li>

                            <li><a class="col-6 col-4-md-auto same dropdown-item hvr-sweep-to-bottom list-inline-item nav-profile-colour"
                                    href="{% url 'account_logout' %}">Logout <i class="fas fa-door-open"></i></a></li>
                            {% else %}


                            <li>
                                <hr class="col-6 col-4-md-auto dropdown-divider">
                            </li>
                            <li><a class="col-6 col-4-md-auto same dropdown-item list-inline-item nav-profile-colour"
                                    href="{% url 'account_signup' %}">Register</a><i class="fas fa-user"></i></li>
                            <li><a class="col-6 col-4-md-auto same dropdown-item list-inline-item nav-profile-colour"
                                    href="{% url 'account_login' %}">Login</a><i class="fas fa-user"></i></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Begin Mailchimp Signup Form -->

            <div id="mc_embed_signup">
                <form
                    action="https://herokuapp.us17.list-manage.com/subscribe/post?u=08fb6f3846b81ecaf8d6169c4&amp;id=325f72cd20&amp;f_id=00df4fe0f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_08fb6f3846b81ecaf8d6169c4_325f72cd20" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="button">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    {% if messages %}
    <div class="message-container">
        <!--Borrowed this with message.level as level from boutique ado project, code institute-->
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block extra_header%}
    {% endblock %}
    {% block content %}

    {% endblock %}






    {% block postload_js %}

    <script>
        //borrowed this toast script code from https://www.youtube.com/watch?v=fbXHOVp_L_4
        window.onload = (event) => {
            let messageAlert = document.querySelector('.toast');
            let beAlert = new bootstrap.Toast(messageAlert);
            beAlert.show()
        }
    </script>
    <script>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}


    <footer class=" fixed-bottom">

        <a href="https://www.youtube.com/" class="footer-link-two " target="_blank" rel="noopener nofollow"
            aria-label="See how we are making our products here"><i class="fab fa-youtube"></i></a>

        <a href="https://www.instagram.com/" class="footer-link " target="_blank" rel="noopener nofollow"
            aria-label="See images of our products here"><i class="fab fa-instagram"></i></a>
        <a href="https://www.privacypolicygenerator.info/live.php?token=QPfCSHOdkDAV7RxWzXc08jdF94d42vhZ"
            class="footer-link " target="_blank" rel="noopener nofollow"
            aria-label="See images of our products here"><small>Privacy Policy</small> <i class="fas fa-info"></i></a>

    </footer>
</body>

</html>