{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block maincss%}
    <link href="//cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">

    {% endblock %}

    {% block extra_css%}
    {% endblock %}

    {% block mainjs %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://kit.fontawesome.com/4a24757097.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

   

    {% endblock %}

    {% block extra_js%}
    {% endblock %}

    <title>Laserwood shop {% block extra_title %} {% endblock %}</title>

</head>

<body>
    <header>
        <div class="container media-mobile ">
            <div class="row test">

                <div class="col-4-md-auto logo">
                    <h1 class="logo-text">laserwood</h1>
                </div>


                <div class="col-4-md-auto search">

                    <form method="GET" action="{% url 'items' %}">
                        {% csrf_token %}
                        <div class=" w-100">
                            <input class="search-style  search-form form-control border border-black rounded-0"
                                type="text" name="s" placeholder="Search in our store">
                            <div class="input-group-append">
                                <button class="search-btn form-control hvr-sweep-to-bottom btn btn-black border border-black rounded-0"
                                    type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="col-6 col-4-md-auto">


                    <li class="  col   list-inline-item nav-colour">
                        <a class="{% if sum_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'show_bag' %}">
                            <div class=" text-center">
                                <div class="bag-place"><i class="fas fa-shopping-basket"></i></div>
                                <p class=" bag-place my-0">
                                    {% if sum_total %}
                                    ${{ sum_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </div>
            </div>









            <div class=" row testtest fixed-top">

                <li class="col-6 col-4-md-auto hvr-sweep-to-bottom border same-nav list-inline-item nav-product-colour"><a
                        class="  nav-colour navfix remove-decoration" href="{% url 'items' %}">Items <i
                            class="fas fa-arrow-right"></i></a></li>
                <li class="col-6 col-4-md-auto hvr-sweep-to-bottom border same-nav list-inline-item nav-blog-colour"><a
                        class="nav-colour remove-decoration" href="#"> Blog <i class="fas fa-book-open"></i></a></li>
                <li class="col-6 col-4-md-auto border hvr-sweep-to-bottom same-nav list-inline-item nav-home-colour"><a
                        class="nav-colour remove-decoration" href="{% url 'home' %}"> Home <i
                            class="fas fa-home"></i></a></li>
                <li
                    class=" border nav-profile-colour hvr-sweep-to-bottom list-inline-item nav-drop same-nav col-6col-4-md-auto  nav-item dropdown">
                    <a class=" remove-decoration nav-colour nav-colour dropdown-toggle" href="#"
                        id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My Account<i class="fas fa-user"></i>
                    </a>
                    <ul class=" col-6 col-4-md-auto dropdown-menu" aria-labelledby="navbarScrollingDropdown">

                        {% if request.user.is_authenticated %}
                        <li><a class="col-6 col-4-md-auto same hvr-sweep-to-bottom dropdown-item list-inline-item nav-profile-colour"
                                href="#"> account <i class="fas fa-user"></i></a></li>

                        <li><a class="col-6 col-4-md-auto same dropdown-item hvr-sweep-to-bottom list-inline-item nav-profile-colour"
                                href="{% url 'account_logout' %}">Logout <i class="fas fa-door-open"></i></a></li>
                        {% else %}


                        <li>
                            <hr class="col-6 col-4-md-auto dropdown-divider">
                        </li>
                        <li><a class="col-6 col-4-md-auto same dropdown-item list-inline-item nav-profile-colour"
                                href="{% url 'account_signup' %}">Register</a><i class="fas fa-user"></i></li>
                        <li><a class="col-6 col-4-md-auto same dropdown-item list-inline-item nav-profile-colour"
                                href="{% url 'account_login' %}">Login</a><i class="fas fa-user"></i></li>
                        {% endif %}
                    </ul>
                </li>
            </div>


            










    </header>
    {% if messages %}
    <div class="message-container">
        <!--Borrowed this with message.level as level from boutique ado project, code institute-->
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block extra_header%}
    {% endblock %}
    {% block content %}
     
    {% endblock %}

    
    

 

    {% block postload_js %}
    
    <script type="text/javascript">
        //borrowed this toast script code from https://www.youtube.com/watch?v=fbXHOVp_L_4
        window.onload = (event)=> {
            let messageAlert = document.querySelector('.toast');
            let beAlert = new bootstrap.Toast(messageAlert);
            beAlert.show()
        }
        
        
    </script>
    {% endblock %}

    <footer class=" fixed-bottom">


    </footer>
</body>

</html>